.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.7em;
  color: #777777;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  /* margin-right: 16.4em; */
}

.search-input {
  color: #777777;
  font-family: "PT Sans";
  font-size: 2.4em;
  font-weight: 400;
  background-color: #e8e8e8;
  border: None;
  border-radius: 2.5em;
  padding-left: 1.6em;
  height: 66px;
}

input {
  flex-grow: 2 !important;
}

.search {
  background-color: #e8e8e8;
  width: 900px;
  height: 66px;
  border-radius: 2.5em;
  /* display: flex; */
  /* flex-direction: row; */
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

.search-button {
  width: 195px;
  height: 46px;
  background-image: linear-gradient(150deg, #66e8e4 0%, #00aeff 100%);
  border-radius: 2.25em;
  border: None;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 2.43em;
  font-weight: 400;
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.voter-logic {
  color: #777777;
  font-family: "PT Sans";
  font-size: 2.22em;
  font-weight: 400;
}

.poll-text {
  color: #777777;
  font-family: "PT Sans";
  font-size: 19px;
  font-weight: 400;
  margin-top: 57px;
  text-align: right;
}

.poll-start-time {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.5em;
  font-weight: 400;
  text-align: right;
}

.voter-poll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poll-text-start {
}

.poll-name {
  font-family: "PT Sans";
  font-size: 2.22em;
  font-weight: 400;
  margin-top: 30px;
}
a {
  color: #777777 !important;
}

.poll-type {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.78em;
  font-weight: 400;
  /* margin-top: 0.7em; */
}

.poll-end {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.71em;
  font-weight: 400;
  text-align: right;
  /* margin-top: 0.7em; */
}

.poll-timer {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.92em;
  font-weight: 400;
  margin-left: 0.4em;
}

.total-voters {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.79em;
  font-weight: 400;
  text-decoration: underline !important;
  text-align: right;
  margin-top: 1.24em;
}

.poll-leader-text {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.79em;
  font-weight: 400;
  margin-top: 1em;
}

.poll-leader-name {
  color: #777777;
  font-family: "PT Sans";
  font-size: 2.22em;
  font-weight: 400;
}

.vote-share {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.79em;
  font-weight: 400;
  margin-left: 0.2em;
}

.proposal-name {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.78em;
  font-weight: 400;
  float: left;
}

.proposal-percent {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.5em;
  font-weight: bold;
}

.voters-count {
  color: #777777;
  font-family: "PT Sans";
  font-size: 1.5em;
  font-weight: 400;
}

.ui.progress {
  background: #777777 !important;
  width: 900;
  height: 12px;
  /* margin-left: 4.5em !important;
  margin-right: 5.2em !important; */
  margin-top: 0.5em !important;
}

.poll-leader {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.ui.progress .bar {
  height: 12px !important;
  background-image: linear-gradient(to right, #66e8e4 0%, #00aeff 100%) !important;
}
.poll-name-type {
  display: flex;
  flex-direction: column;
}
.App-intro {
  font-size: large;
}
.poll-end-timer {
  display: flex;
  align-items: flex-end;
}
.poll-name-type-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.2em;
}
.percent-voters {
  display: flex;
}
.voters-count {
  margin-left: 0.2em;
}
.proposal-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.proposal-total-data {
  display: flex;
  flex-direction: column;
}

.poll-leader-vote-share {
  display: flex;
  flex-direction: row;
  margin-top: 0.6em;
}

.poll-stats {
  margin-left: 4.2em;
  margin-right: 4.9em;
}

.proposals-progress {
  margin-top: 2.5em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
