.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.7em;
  color: #777777;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  margin-right: 640px;
}

.search-input {
  color: #777777;
  font-family: "PT Sans";
  font-size: 2.4em;
  font-weight: 400;
  background-color: #e8e8e8;
  border: None;
  border-radius: 2.5em;
  padding-left: 58px;
  height: 66px;
  width: 75%;
}

.search {
  background-color: #e8e8e8;
  width: 80%;
  height: 66px;
  border-radius: 2.5em;
  margin: 0 auto;
  position: relative;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

.search-button {
  width: 195px;
  height: 46px;
  background-image: linear-gradient(150deg, #66e8e4 0%, #00aeff 100%);
  border-radius: 2.25em;
  border: None;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  margin-top: 10px;
  margin-left: 26px;
}

/* .srch-btn-cnt {
  text-align: center;
  margin-top: 20px;
} */

.poll-started-text {
  color: #777777;
  font-family: "PT Sans";
  font-size: 19px;
  font-weight: 400;
  text-align: right;
}

.push-top--57 {
  margin-top: 57px;
}

.pos-rel {
  position: relative;
}

.voter-logic {
  color: #777777;
  font-family: "PT Sans";
  font-size: 31px;
  font-weight: 400;
  line-height: 31px;
  position: absolute;
  top: 10px;
}

.poll-start-time {
  color: #777777;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 400;
  text-align: right;
}

::selection {
  color: None !important;
}

.pollstats-grid {
  width: 70% !important;
  margin: 0 auto !important;
}

.poll-name {
  color: #777777;
  font-family: "PT Sans";
  font-size: 31px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 31px;
}

.s-b {
  display: None;
  border: None;
  border-radius: 20px;
  width: 221px;
  height: 41px;
  color: #32cbf2;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  position: relative;
  /* background-color: #ffffff; */
}

.poll-name:hover {
  margin-top: 39px;
}

.poll-type {
  color: #777777;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.poll-end {
  color: #777777;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  text-align: right;
}

.poll-timer {
  color: #777777;
  font-family: "PT Sans";
  font-size: 27px;
  font-weight: 400;
  margin-left: 5px;
}

.poll-type-end {
  margin-top: 15px;
}

.percent-voters {
  display: flex;
}

.proposal-percent {
  color: #777777;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: bold;
}

.voters-count {
  color: #777777;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 400;
  margin-left: 4px;
}

.proposal-name {
  color: #777777;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.proposal-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proposal-total-data {
  display: flex;
  flex-direction: column;
}

.proposals {
  margin-top: 35px;
}

.total-voters {
  color: #777777;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline !important;
  text-align: right;
  margin-top: 31px;
}

.poll-leader-text {
  color: #777777;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
  margin-top: 8px;
  text-align: left;
}

.poll-leader-name {
  color: #777777;
  font-family: "PT Sans";
  font-size: 31px;
  font-weight: 400;
}

.vote-share {
  color: #777777;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
  margin-left: 6px;
  line-height: 25px;
}

.poll-leader-vote-share {
  display: flex;
  text-align: start;
  margin-top: 8px;
}

.ui.progress {
  background: #777777 !important;
  width: 900;
  height: 12px;
  /* margin-left: 4.5em !important;
  margin-right: 5.2em !important; */
  margin-top: 0.5em !important;
}
.ui.progress .bar {
  height: 12px !important;
  background-image: linear-gradient(to right, #66e8e4 0%, #00aeff 100%) !important;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .search {
    width: 100% !important;
  }
  .search-button {
    margin-left: 30px;
  }
  .App-title {
    margin-right: 665px !important;
  }
  .pollstats-grid {
    width: 87% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search {
    width: 100% !important;
  }
  .search-button {
    margin-left: -24px;
  }
  .App-title {
    margin-right: 445px !important;
  }
  .pollstats-grid {
    width: 84% !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .search {
    width: 100% !important;
  }
  .search-button {
    margin-left: -71px;
  }
  .App-title {
    margin-right: 250px !important;
  }
  .pollstats-grid {
    width: 79% !important;
  }
}
@media only screen and (max-width: 575px) {
  .search {
    width: 100% !important;
  }
  .search-input {
    width: 90%;
  }
  .search-button {
    margin-left: -310px;
    margin-top: 70px;
  }
  .App-title {
    margin-right: 270px !important;
  }
  .poll-started-text {
    text-align: start;
  }
  .total-voters {
    text-align: start;
  }
  .poll-leader-text {
    margin-top: 25px;
  }
  .poll-end {
    text-align: start;
    margin-top: 15px;
  }
  .poll-start-time {
    text-align: start;
  }
  .voter-logic {
    position: relative;
    top: 0px;
  }
}
